<form asp-action="Index">
    <label>PersonID</label>
    <input type="text" name="PersonID">
    <label>Nhap ho ten</label>
    <input type="text" name="FullName">
    <label>Dia chi</label>
    <input type="text" name="Address">
    <input type="submit" value="Gui du lieu">
</form>
@ViewBag.thongbao;